*{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

html, body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

header{
    background-image: url(https://74c232fd3e24ba74c9100f5bb61851ade0e7fd55.googledrive.com/host/0B1DKcIIA9T7hflBnZjhsUE9HUERGWm5FSU54d0diY1llWE9UUDgzbjFMYl9XZ1o0UzVIZ00/img/3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
}

header h1, h2{
    margin: 1%;
    padding: 2%;    
}

header h1{    
    padding-top: 40px;
}

article{
    background-color: darkcyan  ;
    margin: 1%;
    margin-left: 5%;
}

footer{
    background-color: coral;
}